body { margin:0; padding:0; }
  #container { 
  	position:absolute; 
  	z-index:2; 
  	float:left; 
  	top:12px; 
  	left:60px; 
  	background-color: #FFF; 
    padding: 10px;
  	opacity:0.8;  
  	font-family: 'Raleway', sans-serif;
    font-size:1em;
    line-height: 0.9em;
  }

  #text { 
  	margin-left:auto; 
  	margin-right:auto; 
  	color:#555555; 
  	opacity:1!important; 
  	z-index:3; text-shadow:1px 1px 2px #888888;
  }

.title {
  font-size:1.2em;  
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: 400
}

.subtitle {
  font-size:0.5em;

}

  #map { 
  	position:absolute; 
  	top:0; 
  	bottom:0; 
  	width:100%; z-index:1; 
  }

  #attrib { position:absolute; 
  	float:left; 
  	margin-bottom: 10px; 
  	margin-left: 10px;
  }

  .sharing { 
      bottom: 10px;
      left: 10px;
      position: absolute; 
      display:block;
      z-index: 100; 
  }

//SHARE BUTTONS =====================>

// Main button, icon, and text styles
.share-button.sharer-0 label {
  -webkit-transition: all .3s ease;
  transition:         all .3s ease;
  background: #FFFFFF   ;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  margin: 0;
  padding: 5px 10px;
  display: none;
  
}

// Main text styles ("Share")
.share-button.sharer-0 label span {
  -webkit-font-smoothing: antialiased;
  display: none;
  font-family: Lato,sans-serif;
  font-size: .9em;
  font-weight: 700;
  padding-left: 6px;
  text-transform: uppercase;
}

  .img { 
  	width:20px;
  }

  #credits { 
  	position: fixed; 
  	z-index:5; 
  	top:95%; 
  	left:20px; 
  	font-family:"Georgia", serif; 
  	font-size:.6em; 
  	opacity:.8; 
    box-shadow: 1px #0FF; 
    color: floralwhite;
    text-decoration: none;
  }

pre.ui-output {
    display:block;
    position:absolute;
    bottom:10px;
    left:10px;
    padding:5px 10px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    font-size:11px;
    line-height:18px;
    border-radius:3px;
    max-height:50%;
    max-width:25%;
    overflow:auto;
    word-wrap: break-word;
    white-space:pre-wrap;
    }
    pre.ui-output:empty { padding:0; }

.leaflet-control-mapbox-geocoder.leaflet-bar.leaflet-control {
    margin-top: 30px;
}

.leaflet-control-locate {
  border:1px solid rgba(0,0,0,0.4);
  }
.leaflet-control-locate a {
  background-color:#fff;
  background-position:-3px, -2px;
  }
.leaflet-control-locate.active a {
  background-position:-33px -2px;
  }
